<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <ComponentRef Id="MainAppShortcut" />
    </ComponentGroup>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="MainAppShortcut" Guid="{0995664D-AE63-4DD6-B894-708A99611370}">
        <Shortcut Id="MainAppDesktopShortcut"
                  Name="!(loc.ProductName_$(Platform))"
                  Target="[INSTALLFOLDER]SalaryCalculator.exe"
                  Directory="InstallProgramMenuFolder"
                  WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Id="RegShortcutKey"
                       Root="HKCU"
                       Key="SOFTWARE\!(loc.ProductNameFolder)"
                       Name="Shortcut"
                       Value="1"
                       Type="integer"
                       KeyPath="yes" />
        <RemoveFolder Id="RemoveStartMenu" Directory="InstallProgramMenuFolder" On="uninstall" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
