<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="cmpF22D40156F8E16FBFA89C752FF9D0EF9" Guid="{54CBCEA4-42FF-4D71-ADF9-CF39FC70AC62}">
        <File Id="fil2DACDED111D2125FD9BAF52808E5CEB0" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\clrjit.dll" />
      </Component>
      <Component Id="cmp742C123932C1A216E185167E7780B396" Guid="{B20CDB43-10CD-4708-B164-B6280820A077}">
        <File Id="filD4F5DAB6FC380871476D90A9B278B655" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\coreclr.dll" />
      </Component>
      <Component Id="cmp0C2E6E9A00C3293AC27A114F5CD9CE2A" Guid="{FD47D9E6-E895-48F7-83BF-DCB1AEA4CDF6}">
        <File Id="filC4BA033347D114D73E0BFDC4F138ED4B" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\hostfxr.dll" />
      </Component>
      <Component Id="cmp6EBAE5ACCACC27065A435A0042E7BAED" Guid="{A2B0E0AC-BB9B-4EFB-92A8-CF9DB91E0049}">
        <File Id="filBE3E8E1D40266192494C4DD3D256E4B0" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\hostpolicy.dll" />
      </Component>
      <Component Id="cmp8654E1D8A29D75D1863BECEDD37AC0AE" Guid="{BBC71621-AC85-4C7D-92A3-9150DF26F0C3}">
        <File Id="filDFD8964B5B00E12A86C400251EF6F77E" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\salarycalculator.deps.json" />
      </Component>
      <Component Id="cmp41E89377B0002CC2350CF2F309C7EF96" Guid="{A21AF1C1-9AD5-4318-BFDB-ECE9C2E0AE8C}">
        <File Id="filED19878F18A70E195BF8CDAA0D0E8890" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\salarycalculator.dll" />
      </Component>
      <Component Id="cmp19C77CF3AC944A208DF8B36302559887" Guid="{0715F9A5-6411-4315-BD05-D73ECB536C12}">
        <File Id="filF35EB58FA1E5422AB618D784B6533883" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\salarycalculator.exe" />
      </Component>
      <Component Id="cmp229973A4B38B4DF982D4C26CE23F4E19" Guid="{DEBABF0A-36A8-4ED9-8E96-692F17F8793E}">
        <File Id="fil2168D59531F848FB810F200B4F7825B7" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\salarycalculator.pdb" />
      </Component>
      <Component Id="cmpB2FE459511D04B56BB563C276FBDE2EB" Guid="{127D37CD-1A23-49C9-88EF-3A9BB45B4FF7}">
        <File Id="fil213AC1F9AB904B508327F204386E75FD" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\salarycalculator.runtimeconfig.json" />
      </Component>
      <Component Id="cmp9548DA9A80FC4663B564F1BC5ED21C1F" Guid="{D7F8F100-8CC8-4D9E-9105-ABB91D3791A3}">
        <File Id="fil7415F24418FF4358A224F3B779BB3AED" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Buffers.dll" />
      </Component>
      <Component Id="cmp9753AB6E6415467493DFB5DFB83D8318" Guid="{AD7BBDBB-72B3-42E0-A4AA-BC60173B3668}">
        <File Id="fil8EA112EE5BB34989ACD1D1A0063A5246" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Console.dll" />
      </Component>
      <Component Id="cmpABE448D44F054EAEA15F06CAA7175F02" Guid="{D8DB6E44-385D-42B9-A018-CD7FF5C62453}">
        <File Id="fil65BA72A0BE544018B79ACEF111FA12FD" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Memory.dll" />
      </Component>
      <Component Id="cmp9B1A0A65A17947C6A649686B6F706F10" Guid="{3AAB02CF-7023-448E-A84B-5207FDAD1A0F}">
        <File Id="fil6FE9C696BE33420391F924F9F6B10F6F" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Private.Corelib.dll" />
      </Component>
      <Component Id="cmp8F00C9F5A67D4AD1BB54BB870FFFB36F" Guid="{A56A1E5A-2E46-494D-A1C5-E62ECB71AE36}">
        <File Id="fil7844D37F461A4A3BBD0DB2DBB5E55C7C" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Private.Uri.dll" />
      </Component>
      <Component Id="cmpA835E696E307486B83E34AFC02A93845" Guid="{9B812E50-010E-4FCF-AE0E-13F562CD9BC3}">
        <File Id="filCC7A46B3E0614C04AF394B6DF5B34663" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Resources.ResourceManager.dll" />
      </Component>
      <Component Id="cmp0EEA87A0E7EB48A890AFF7BF31E94C18" Guid="{19B5D999-B0F7-4A88-81F3-0A9690A83290}">
        <File Id="fil6A294D427FBA4F8AAEE6A534E130C2B3" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Runtime.dll" />
      </Component>
      <Component Id="cmp6D3B0366263E4EBF88759240C02D2C16" Guid="{1E7833A5-C137-4CA7-ABD5-30B72A6E36BF}">
        <File Id="fil3A2C0E18A5BC426EB9AA26EF6D24A767" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Runtime.Extensions.dll" />
      </Component>
      <Component Id="cmp44F90DDA6DA0414F9713DC276C29302F" Guid="{7A747066-172D-46A3-8AC5-1B5E00DE8F4E}">
        <File Id="filE67432FEA9AC4FA2B341DB8C459FA7D9" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Runtime.InteropServices.dll" />
      </Component>
      <Component Id="cmp40196DD6F3504C2B98C62290EEE3C0AB" Guid="{B34DCDAF-53BB-4E46-BD78-18FC48778D89}">
        <File Id="filC3E60BC5763D4005A3EE29F46E2EB829" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Runtime.InteropServices.RuntimeInformation.dll" />
      </Component>
      <Component Id="cmpC5BF67EF09EB4636A86999ED3E534AE6" Guid="{99329878-A6CD-4C93-B5C4-7921A1622707}">
        <File Id="fil0747F442206C4B1CA8BC5447F8452A83" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Text.Encoding.Extensions.dll" />
      </Component>
      <Component Id="cmp70B4B57A6CE743518AD04C6AE199E92C" Guid="{C8161454-FFF2-4B3A-9DB2-EBB03DF50404}">
        <File Id="filA4FB297A65994616888B2F23BF7E1F14" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Threading.dll" />
      </Component>
      <Component Id="cmp018869E2A4ED4E8AA134032265CB971B" Guid="{D49DA778-F2CF-4993-962B-2EBBE0B9117F}">
        <File Id="filD5234AAB782F4C15BC0F1D547B888A86" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Threading.Tasks.dll" />
      </Component>
      <Component Id="cmp03F32D3770A84124937E9E3C5DF4EDBE" Guid="{123AD3D8-7B54-4137-B21C-ED288D3BB958}">
        <File Id="fil5C46E0CA79594B5E9B35F977114D5659" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Collections.dll" />
      </Component>
      <Component Id="cmpDF1496D5DC7E4019A1C6E3188183F614" Guid="{9CD909D8-4015-482B-ABB7-A53CABEAD545}">
        <File Id="fil8C40679DEE194951B5119D553C5E68A7" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Diagnostics.Debug.dll" />
      </Component>
      <Component Id="cmpC0B520C4600243189727B8269CAB300A" Guid="{0B464E82-E36F-46E4-9341-7100DCEDAA99}">
        <File Id="fil02526E55EEFD4D6E85748830F7A45EA1" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Diagnostics.Tools.dll" />
      </Component>
      <Component Id="cmp3D209DB610F343F1A2657F2677EAAE8D" Guid="{5384D43E-E2BE-4709-8ACA-1E2043A0CDC9}">
        <File Id="fil76A003F24F064F04BA271AC7E7E2600A" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.IO.FileSystem.dll" />
      </Component>
      <Component Id="cmpDE4704471917499FABC94E84737D4093" Guid="{B69A5A18-26D9-425E-B2B8-99A8F2A710D4}">
        <File Id="fil64D29DAB3CEA4B6D880BEED0D80BE00A" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Linq.dll" />
      </Component>
      <Component Id="cmpDC42EAA057DC4D6F9265DF391B1A5C5F" Guid="{7823FCF3-FFD0-456E-B10A-4BE6D06474D0}">
        <File Id="fil052D6E0B32C745E6ACBBFBF633372381" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Threading.Thread.dll" />
      </Component>
      <Component Id="cmpDC42EAA068DC4D6F9265DF391B1A5C5F" Guid="{4b4c0310-3972-4b57-a677-8d8b64f5ae2c}">
        <File Id="fil052D6E0B32C745E6ACBBFBF644483492" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\CommandLine.dll" />
      </Component>
      <Component Id="cmpDC42EAA178DC4D6F9265DF401B1A5C5F" Guid="{365f94c3-4882-4b96-9a97-6b599370222c}">
        <File Id="fil163D7E1B43C855E6ACBBFBF644483492" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\Microsoft.Win32.Primitives.dll" />
      </Component>
      <Component Id="cmpe85ce6890ae74ae1ad6da2df2fb5795f" Guid="{02b6e317-d6f3-4a54-a0a2-7b3007c5f69d}">
        <File Id="filf214bc395b2b4cfe8a0583666dd2a7cc" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\Microsoft.Win32.Registry.dll" />
      </Component>
      <Component Id="cmpc8446c759d1a4129bd38c07797867efa" Guid="{ca3acc40-6742-4f19-b085-c707840c4cd3}">
        <File Id="fil2139926e8d0642c0b64820962351e301" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Collections.Concurrent.dll" />
      </Component>
      <Component Id="cmp552ee4c98d7f4c21be6080de81ef14e9" Guid="{ca773ccb-7e08-4b40-8ffb-3913e34bb27b}">
        <File Id="fil21ffc0aa98034bf2b8af3523a0e6a2ef" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Collections.NonGeneric.dll" />
      </Component>
      <Component Id="cmp6574e7e808e14c4d8541e247a3f9b6ad" Guid="{6e2756ef-cf5f-4208-839f-11c29748edc3}">
        <File Id="filb53b73ff80ed47ef907a4e9932a1c655" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Collections.Specialized.dll" />
      </Component>
      <Component Id="cmpf0101853171248ca98f2e15a91bdc1a6" Guid="{e2588097-b8ff-4888-af6e-01d432eaff2f}">
        <File Id="fil8e9cd193191c49f089448ae5ff6498d7" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.ComponentModel.Primitives.dll" />
      </Component>
      <Component Id="cmp37dff9df086c4ca299cb43a378709477" Guid="{a1d068c2-132b-4a9c-9b7b-7eaf1a13542a}">
        <File Id="fil6c0e948becb7427f880b2bc042c3fa4c" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.ComponentModel.TypeConverter.dll" />
      </Component>
      <Component Id="cmp8de198e4c7d14d6db889a36414cfb21e" Guid="{b9e9121d-3b18-484b-9255-e12b539f42dd}">
        <File Id="fildc634765330249d380a017e80cb1056b" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.ComponentModel.dll" />
      </Component>
      <Component Id="cmp7015d2cadcca4fb5956545fdffa0b2bf" Guid="{01953d91-5af3-43f2-b3c7-3de529d17f97}">
        <File Id="fil05dfef4dfc2746eebdd719f711310306" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Diagnostics.DiagnosticSource.dll" />
      </Component>
      <Component Id="cmp02e85b5236e440e4b1149fa2c32f3b8e" Guid="{73bcc65a-f8c7-4902-8478-777934b7ec93}">
        <File Id="filbd71e2ffa12045b6859f6ed4b7281641" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Diagnostics.FileVersionInfo.dll" />
      </Component>
      <Component Id="cmpfee87a9a8c5543f48145d40ca60f19f1" Guid="{e6760b92-0961-4a70-ab97-2138fdcc2857}">
        <File Id="fildea2ab9b437744578a404c4485e7660e" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Diagnostics.Process.dll" />
      </Component>
      <Component Id="cmpbc33b2cd76214408b0c88fd6c5951231" Guid="{c13d9cfe-c936-443b-9b48-2dc44b27295c}">
        <File Id="fil03624b79b9fa413db5215aa905018067" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Diagnostics.TraceSource.dll" />
      </Component>
      <Component Id="cmp6779b3a791f0468c810ca256691b8472" Guid="{c3f65ff3-c691-43f3-954e-e9a311ee3b2f}">
        <File Id="fild933b8adc4384f438804f7ab97a4b4f5" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\clrcompression.dll" />
      </Component>
      <Component Id="cmpe6eaf2358ded4ee18fa802068838e2f0" Guid="{bce8783c-ef5e-464b-9643-414d0ef22180}">
        <File Id="fil52b90f13edde495a90dd08468f9f155a" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\netstandard.dll" />
      </Component>
      <Component Id="cmp6ab0683f9e1c4c31905e4783efa545ff" Guid="{aeccbfc9-6a7c-43b3-a593-8bf64fb02d33}">
        <File Id="filb61134670c294af6af93b37dd1615859" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Diagnostics.Tracing.dll" />
      </Component>
      <Component Id="cmp647f8a1bc0ba42baba5390494cd6a870" Guid="{59d495df-5763-4410-8f0e-71ddeed8d5d8}">
        <File Id="fil984755a1b4b94b77bdcb169de3010fb7" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Drawing.Primitives.dll" />
      </Component>
      <Component Id="cmp31bac1fa5db74ac5b16404fa3bb59eee" Guid="{50b66d8a-7634-4010-9dbb-b0cb375cf208}">
        <File Id="fil7dfcfc66e6b34f938026b9c31de641d7" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.IO.Compression.Brotli.dll" />
      </Component>
      <Component Id="cmp6e981fec508c4e4da9dbe3c44f54e08f" Guid="{6eb42c7a-6e55-4496-9bc4-c3309f7004e5}">
        <File Id="fil9dd751f77bb84fc3920d120cb735e4f7" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.IO.Compression.dll" />
      </Component>
      <Component Id="cmp14027048dc2746b99936e82b4280906f" Guid="{c83cca68-65fb-4ab9-924f-785487adb89c}">
        <File Id="fil4fc801139f3f4fdbba8a3705fed61cf8" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Linq.Expressions.dll" />
      </Component>
      <Component Id="cmp7f9208fd5d9c4c9fbed7658c61f491bc" Guid="{cb5332c7-dad2-4d3e-a94e-fb34d398cf38}">
        <File Id="file809971a0be545d58f723abdb51a3ee1" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Net.Http.dll" />
      </Component>
      <Component Id="cmpfe877066600549b6ab627b0c4d81206f" Guid="{5e1c6c57-d956-4951-94cd-da204ffb8242}">
        <File Id="fil5ca85d1136bf41cc874e9dbb57b5efb3" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Net.NameResolution.dll" />
      </Component>
      <Component Id="cmpcd7b75c5a4cf41b9a17a64bf8d4e0822" Guid="{d115dcb2-3320-4d47-b78e-38649cfa0846}">
        <File Id="fil6c27b9621b074cb2bfde0d63c28c8206" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Net.NetworkInformation.dll" />
      </Component>
      <Component Id="cmp9e8dc8570f2a42eb918ba579cae7cb51" Guid="{b68a6000-50d0-4e2e-8497-85249aa57ffa}">
        <File Id="filab7aa4bfa023443ea0c07c01a6a96fe4" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Net.Primitives.dll" />
      </Component>
      <Component Id="cmpc9cb7e2371d64018b9bc54060357488a" Guid="{b76088a6-ba95-4646-9e71-8b64fa6bd6f6}">
        <File Id="fil108d65e5cc0d4c8c85b968bc4851b82d" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Net.Requests.dll" />
      </Component>
      <Component Id="cmp008f1c4911fe4aa6a898c280294dcd02" Guid="{ef5a15b5-51ac-4d1c-8e83-3f253438f258}">
        <File Id="filefcbab8157584f82af79c5763365abef" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Net.Security.dll" />
      </Component>
      <Component Id="cmp52f8e38b8360484d90b63d8379e863f5" Guid="{192337a3-868c-4d1c-94f6-6ac4135d7ef0}">
        <File Id="fila4df511d47ed4beca3611f8cc2c99e90" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Net.ServicePoint.dll" />
      </Component>
      <Component Id="cmpd7e00ebafe434dba86f65c8109bbe48e" Guid="{410ecd8b-506c-4c6f-b858-66ee199ac633}">
        <File Id="filf5e07387bd1a4772b616e6fa95dd359a" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Net.Sockets.dll" />
      </Component>
      <Component Id="cmp878d88bb28bf4ba795ff124e1506e724" Guid="{18587be6-a450-4d58-83ac-d770e1858aa6}">
        <File Id="filea4113005f2641abb31ad0c95e9d1269" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Net.WebHeaderCollection.dll" />
      </Component>
      <Component Id="cmp708d7f0007164d61be7f193fe5fd8c85" Guid="{1ef34978-9321-4957-954a-e9ff4de3af68}">
        <File Id="fil50bd45bb36ac478bb39beb40d01bdc74" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.ObjectModel.dll" />
      </Component>
      <Component Id="cmp31a6ede4d1f0404699e2533cfc779cb5" Guid="{87d9b2f2-5fce-4bd8-a27e-991a5d9b65df}">
        <File Id="fil6b80b27a6fe045d59ddfdc794c27620b" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Private.Xml.dll" />
      </Component>
      <Component Id="cmp61271ac117e6457b8cd009d32911738c" Guid="{ca8e3b48-2253-4982-a03a-c412d542ebd3}">
        <File Id="fil07c5d880e1404179b1453a26d87ca6ca" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Private.Xml.Linq.dll" />
      </Component>
      <Component Id="cmp4543f2f54d264071a50ac3bc8f1929dd" Guid="{d6900a8f-f411-45aa-a31a-73bd42f3b269}">
        <File Id="fil688d01a8bbda4e5aa1e8a82f0fecb41a" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Reflection.Emit.dll" />
      </Component>
      <Component Id="cmp58903c90287a4e0b83f2688308dd21e5" Guid="{81bf1974-ee4b-46df-87d5-1b0ca6b3ffa0}">
        <File Id="fil967f376ddce6406a808ebc4293e3bcbb" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Reflection.Emit.ILGeneration.dll" />
      </Component>
      <Component Id="cmpa07da0cb0d93494dbec92f1442ba3cc6" Guid="{8e49a52e-33fc-4260-b6ae-dbef122381ca}">
        <File Id="fil4da8429116374f089ef42dec6d8a7552" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Reflection.Emit.Lightweight.dll" />
      </Component>
      <Component Id="cmp49782a3e8654400ea3f11c2e97ac4a57" Guid="{f5d55e35-37b2-40b9-833f-e60f5d40352b}">
        <File Id="fil9950e247f98942d3b8f8b3ae5e6a5a8e" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Reflection.Primitives.dll" />
      </Component>
      <Component Id="cmp2ee9c3cca1b0486a9483135eb38875c5" Guid="{9c972832-07b8-4a3a-993b-bf1f87b9140c}">
        <File Id="fil11e0297ff16149c4890b975d58418977" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Resources.Writer.dll" />
      </Component>
      <Component Id="cmpdb06b46f0ff44b82ad8c223d1b0e8e6c" Guid="{9555eabd-e0e0-45d3-9c7c-bebeb3e9394a}">
        <File Id="fil9518e43e16e146a9980912ca4556167f" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Runtime.CompilerServices.Unsafe.dll" />
      </Component>
      <Component Id="cmp1d3b09edd169425c828b60f19249a1ed" Guid="{c3440583-1dbf-4102-883f-1a5ac2cf0968}">
        <File Id="fildd1efea8ff084ffebc99d14e5714fffd" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Runtime.Numerics.dll" />
      </Component>
      <Component Id="cmp54f6f5fa595f4f2dbf5f45bb190d9cd4" Guid="{39c88a51-6903-47ab-abf5-681f98aa7531}">
        <File Id="filc7eb27679d2c4043a22c42d6604f67bb" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Runtime.Serialization.Formatters.dll" />
      </Component>
      <Component Id="cmp649eb04eaa4542a08de8cf099a4a9a8e" Guid="{4490944f-baa1-4db4-8c8e-f96658cf93cc}">
        <File Id="fil302a1a3cef274bfe8eacd2b862c62eb4" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Security.AccessControl.dll" />
      </Component>
      <Component Id="cmpdc927f6f045a438a84426c1dcb54b1c2" Guid="{f21a7202-a71a-4377-b945-15e64b691943}">
        <File Id="fil88bc284e98804073b767c40b34b2836c" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Security.Claims.dll" />
      </Component>
      <Component Id="cmp8d1617197201421c9d371119bb19f6f7" Guid="{eb0e180b-a872-415e-b9e5-bd3ecaa1cad0}">
        <File Id="fild2fca6e118594b4da311ce5ed50a9223" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Security.Cryptography.Algorithms.dll" />
      </Component>
      <Component Id="cmp41ee8cd78068422db8631d98d7ac880a" Guid="{deef2c0b-1a90-4d4f-b4d7-46572b4970f2}">
        <File Id="file5504b60f88144fe9482db7ac3000123" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Security.Cryptography.Cng.dll" />
      </Component>
      <Component Id="cmp4edea7a04d3544c8b7675b90bda76362" Guid="{197ff0bd-b492-4741-b13f-8a03228afc59}">
        <File Id="fil4ddcfe97f11d4f9b8353df443d6ce626" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Security.Cryptography.Csp.dll" />
      </Component>
      <Component Id="cmpe64e83e0c2f341c3b34762df043e887e" Guid="{c4ce8ed1-dd6d-455c-8b4c-710bb1ea0499}">
        <File Id="fil970cb2e7e74f47ed92cec9c2a1497966" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Security.Cryptography.Encoding.dll" />
      </Component>
      <Component Id="cmpbbb451493c4641a89f66b5823dcf0759" Guid="{623028c7-33ff-4260-ad57-24ed0723d5e8}">
        <File Id="fil34f6dfb30c0f4c5e8cc70014c4ab5e10" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Security.Cryptography.Primitives.dll" />
      </Component>
      <Component Id="cmp6a8db0be71a047b799f2defc7c6ed784" Guid="{3376df74-0a7d-4e39-b159-2e69e54f43ce}">
        <File Id="filaa04a103fcdd406aad87004f63f5ac4c" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Security.Cryptography.X509Certificates.dll" />
      </Component>
      <Component Id="cmpebd4cd0d0ef94df9b5e5ee71aedef872" Guid="{8677e173-3a07-4ebc-bd2c-7f97c7ab0e2f}">
        <File Id="fil644ca029618148c99490dfe5f49cb42c" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Security.Principal.dll" />
      </Component>
      <Component Id="cmp7088ebeca5d644bc826a6240f033969a" Guid="{fda7ee8b-95cb-4c7e-929f-df4744255ba0}">
        <File Id="fil3b172ff3b5bb437cac20893fd761cfd7" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Security.Principal.Windows.dll" />
      </Component>
      <Component Id="cmp3465dce93457416bb33431e48c645ac6" Guid="{138c762e-6fde-44e5-9bb8-85248acee2b8}">
        <File Id="file3555b86446849c084ef2e1b6722157b" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Text.RegularExpressions.dll" />
      </Component>
      <Component Id="cmp84656c16b6dc49819acdc0d2c9fa3bf4" Guid="{8b0ea727-ab5f-4bf2-abf0-64aecb7d8a9f}">
        <File Id="fil05950066d1134520ba920b1661bf5dee" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Threading.Overlapped.dll" />
      </Component>
      <Component Id="cmp3cdbd23aade449d5bb3112fe9dc8776c" Guid="{ed2600f0-659b-469f-8be4-96eee1fc5d51}">
        <File Id="fil26301611669e46d6ba910dc718678476" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Threading.ThreadPool.dll" />
      </Component>
      <Component Id="cmp72e36d5fe3744142828ccfcd7e357581" Guid="{2a41e2bd-b77d-4541-afff-b7ed66a0b6e9}">
        <File Id="fil2528af7781174b5799d9dd2562df2bae" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Threading.Timer.dll" />
      </Component>
      <Component Id="cmp57b06a378e1b469b8e49d1c45361bb3b" Guid="{e1130598-e132-4d82-bb13-b3f3e24d1047}">
        <File Id="fil9e83ac94ffe640648f962712d03487a6" KeyPath="yes" Source="..\..\src\bin\Release\netcoreapp3.1\win10-x64\publish\System.Xml.XDocument.dll" />
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="PublishedComponents">
      <ComponentRef Id="cmpF22D40156F8E16FBFA89C752FF9D0EF9" />
      <ComponentRef Id="cmp742C123932C1A216E185167E7780B396" />
      <ComponentRef Id="cmp0C2E6E9A00C3293AC27A114F5CD9CE2A" />
      <ComponentRef Id="cmp6EBAE5ACCACC27065A435A0042E7BAED" />
      <ComponentRef Id="cmp8654E1D8A29D75D1863BECEDD37AC0AE" />
      <ComponentRef Id="cmp41E89377B0002CC2350CF2F309C7EF96" />
      <ComponentRef Id="cmp19C77CF3AC944A208DF8B36302559887" />
      <ComponentRef Id="cmp229973A4B38B4DF982D4C26CE23F4E19" />
      <ComponentRef Id="cmpB2FE459511D04B56BB563C276FBDE2EB" />
      <ComponentRef Id="cmp9548DA9A80FC4663B564F1BC5ED21C1F" />
      <ComponentRef Id="cmp9753AB6E6415467493DFB5DFB83D8318" />
      <ComponentRef Id="cmpABE448D44F054EAEA15F06CAA7175F02" />
      <ComponentRef Id="cmp9B1A0A65A17947C6A649686B6F706F10" />
      <ComponentRef Id="cmp8F00C9F5A67D4AD1BB54BB870FFFB36F" />
      <ComponentRef Id="cmpA835E696E307486B83E34AFC02A93845" />
      <ComponentRef Id="cmp0EEA87A0E7EB48A890AFF7BF31E94C18" />
      <ComponentRef Id="cmp6D3B0366263E4EBF88759240C02D2C16" />
      <ComponentRef Id="cmp44F90DDA6DA0414F9713DC276C29302F" />
      <ComponentRef Id="cmpC5BF67EF09EB4636A86999ED3E534AE6" />
      <ComponentRef Id="cmp40196DD6F3504C2B98C62290EEE3C0AB" />
      <ComponentRef Id="cmp70B4B57A6CE743518AD04C6AE199E92C" />
      <ComponentRef Id="cmp018869E2A4ED4E8AA134032265CB971B" />
      <ComponentRef Id="cmp03F32D3770A84124937E9E3C5DF4EDBE" />
      <ComponentRef Id="cmpDF1496D5DC7E4019A1C6E3188183F614" />
      <ComponentRef Id="cmpC0B520C4600243189727B8269CAB300A" />
      <ComponentRef Id="cmp3D209DB610F343F1A2657F2677EAAE8D" />
      <ComponentRef Id="cmpDE4704471917499FABC94E84737D4093" />
      <ComponentRef Id="cmpDC42EAA057DC4D6F9265DF391B1A5C5F" />
      <ComponentRef Id="cmpDC42EAA068DC4D6F9265DF391B1A5C5F" />
      <ComponentRef Id="cmpDC42EAA178DC4D6F9265DF401B1A5C5F" />
      <ComponentRef Id="cmpe85ce6890ae74ae1ad6da2df2fb5795f" />
      <ComponentRef Id="cmpc8446c759d1a4129bd38c07797867efa" />
      <ComponentRef Id="cmp552ee4c98d7f4c21be6080de81ef14e9" />
      <ComponentRef Id="cmp6574e7e808e14c4d8541e247a3f9b6ad" />
      <ComponentRef Id="cmpf0101853171248ca98f2e15a91bdc1a6" />
      <ComponentRef Id="cmp37dff9df086c4ca299cb43a378709477" />
      <ComponentRef Id="cmp8de198e4c7d14d6db889a36414cfb21e" />
      <ComponentRef Id="cmp7015d2cadcca4fb5956545fdffa0b2bf" />
      <ComponentRef Id="cmp02e85b5236e440e4b1149fa2c32f3b8e" />
      <ComponentRef Id="cmpfee87a9a8c5543f48145d40ca60f19f1" />
      <ComponentRef Id="cmpbc33b2cd76214408b0c88fd6c5951231" />
      <ComponentRef Id="cmp6779b3a791f0468c810ca256691b8472" />
      <ComponentRef Id="cmpe6eaf2358ded4ee18fa802068838e2f0" />
      <ComponentRef Id="cmp6ab0683f9e1c4c31905e4783efa545ff" />
      <ComponentRef Id="cmp647f8a1bc0ba42baba5390494cd6a870" />
      <ComponentRef Id="cmp31bac1fa5db74ac5b16404fa3bb59eee" />
      <ComponentRef Id="cmp6e981fec508c4e4da9dbe3c44f54e08f" />
      <ComponentRef Id="cmp14027048dc2746b99936e82b4280906f" />
      <ComponentRef Id="cmp7f9208fd5d9c4c9fbed7658c61f491bc" />
      <ComponentRef Id="cmpfe877066600549b6ab627b0c4d81206f" />
      <ComponentRef Id="cmpcd7b75c5a4cf41b9a17a64bf8d4e0822" />
      <ComponentRef Id="cmp9e8dc8570f2a42eb918ba579cae7cb51" />
      <ComponentRef Id="cmpc9cb7e2371d64018b9bc54060357488a" />
      <ComponentRef Id="cmp008f1c4911fe4aa6a898c280294dcd02" />
      <ComponentRef Id="cmp52f8e38b8360484d90b63d8379e863f5" />
      <ComponentRef Id="cmpd7e00ebafe434dba86f65c8109bbe48e" />
      <ComponentRef Id="cmp878d88bb28bf4ba795ff124e1506e724" />
      <ComponentRef Id="cmp708d7f0007164d61be7f193fe5fd8c85" />
      <ComponentRef Id="cmp31a6ede4d1f0404699e2533cfc779cb5" />
      <ComponentRef Id="cmp61271ac117e6457b8cd009d32911738c" />
      <ComponentRef Id="cmp4543f2f54d264071a50ac3bc8f1929dd" />
      <ComponentRef Id="cmp58903c90287a4e0b83f2688308dd21e5" />
      <ComponentRef Id="cmpa07da0cb0d93494dbec92f1442ba3cc6" />
      <ComponentRef Id="cmp49782a3e8654400ea3f11c2e97ac4a57" />
      <ComponentRef Id="cmp2ee9c3cca1b0486a9483135eb38875c5" />
      <ComponentRef Id="cmpdb06b46f0ff44b82ad8c223d1b0e8e6c" />
      <ComponentRef Id="cmp1d3b09edd169425c828b60f19249a1ed" />
      <ComponentRef Id="cmp54f6f5fa595f4f2dbf5f45bb190d9cd4" />
      <ComponentRef Id="cmp649eb04eaa4542a08de8cf099a4a9a8e" />
      <ComponentRef Id="cmpdc927f6f045a438a84426c1dcb54b1c2" />
      <ComponentRef Id="cmp8d1617197201421c9d371119bb19f6f7" />
      <ComponentRef Id="cmp41ee8cd78068422db8631d98d7ac880a" />
      <ComponentRef Id="cmp4edea7a04d3544c8b7675b90bda76362" />
      <ComponentRef Id="cmpe64e83e0c2f341c3b34762df043e887e" />
      <ComponentRef Id="cmpbbb451493c4641a89f66b5823dcf0759" />
      <ComponentRef Id="cmp6a8db0be71a047b799f2defc7c6ed784" />
      <ComponentRef Id="cmpebd4cd0d0ef94df9b5e5ee71aedef872" />
      <ComponentRef Id="cmp7088ebeca5d644bc826a6240f033969a" />
      <ComponentRef Id="cmp3465dce93457416bb33431e48c645ac6" />
      <ComponentRef Id="cmp84656c16b6dc49819acdc0d2c9fa3bf4" />
      <ComponentRef Id="cmp3cdbd23aade449d5bb3112fe9dc8776c" />
      <ComponentRef Id="cmp72e36d5fe3744142828ccfcd7e357581" />
      <ComponentRef Id="cmp57b06a378e1b469b8e49d1c45361bb3b" />
    </ComponentGroup>
  </Fragment>
</Wix>