<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

  <Package Name="!(loc.ProductName_$(Platform))"
           Language="!(loc.Language)"
           Manufacturer="!(loc.Company)"
           Version="1.0.0"
           UpgradeCode="E84D97E3-413B-4994-B471-3D910272596F"
           InstallerVersion="500"
           Compressed="yes"
           Scope="perMachine">

    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)"
                  AllowSameVersionUpgrades="yes" />

    <MediaTemplate EmbedCab="yes" />

    <ui:WixUI Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="wix\Assets\eula.rtf" />

    <Feature Id="ProductFeature" Title="Salary Calculator" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="PublishedComponents" />
    </Feature>
  </Package>
</Wix>
