<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?if $(var.Platform)=x64 ?>
  <?define ProductCode = "*" ?>
  <?else?>
  <?define ProductCode = "*" ?>
  <?endif?>

  <?define UpgradeCode = "{E84D97E3-413B-4994-B471-3D910272596F}" ?>
  <?define BuildVersion = "!(bind.FileVersion.filF35EB58FA1E5422AB618D784B6533883)" ?>

  <Product Id="$(var.ProductCode)" 
           Name="!(loc.ProductName_$(var.Platform))"
           Language="!(loc.Language)"
           Manufacturer="!(loc.Company)"
           Version="$(var.BuildVersion)" 
           UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200"
             Compressed="yes" 
             InstallScope="perMachine" 
             Platform="$(var.Platform)"
             Manufacturer="!(loc.Company)"
             Languages="!(loc.Language)" />

    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.BuildVersion)" Property="NEWERPRODUCTFOUND" OnlyDetect="yes" IncludeMinimum="yes" />
    </Upgrade>

    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" AllowDowngrades="no" AllowSameVersionUpgrades="yes" />
    <MediaTemplate EmbedCab="yes" />

    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="..\assets\eula.rtf" />
    <Feature Id="ProductFeature" Title="Salary Calculator" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="PublishedComponents" />
    </Feature>
  </Product>
</Wix>