---
name: Test
on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  test:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-24.04, windows-latest]

    steps:
    - name: Checkout ${{ github.repository }} repository
      uses: actions/checkout@v6
      with:
        repository: ${{ github.repository }}
        ref: ${{ github.ref }}
        token: ${{ secrets.token }}

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: "6.0.x"

    - name: Run tests
      run: dotnet test test/test.csproj
